@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .backface {
    transform-origin: center bottom;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    transform-style: preserve-3d;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .perspective-1200px {
    perspective: 1200px;
  }
}
